<div class="navbar">
    <div class="navbar-grid">
        <div class="grid-item"></div>
        <div class="grid-item">
            <nobr>
                <h1 onclick="location.href='/'" style="cursor: pointer;">书栖网</h1>
            </nobr>
        </div>
        <div class="grid-item exnarrowHide" style="text-align: right; color: white;">
            <a class="narrowHide" href="/">首页</a>
            <a href="/category">分类</a>
            <a href="/search">搜索</a>
            <a class="narrowHide" href="/about">关于</a>
        </div>
        <div class="grid-item"></div>
    </div>
</div>