# 后端部分
target

# 前端部分
# 排除数据库配置文件
dbconfig.js

# 排除nodejs模块文件夹
node_modules/

# 排除package-lock.json
package-lock.json

# 排除所有调试产生的log文件
*.log

# 排除idea项目 iml 文件
bookshelfplus.iml

# TODO文件
TODO*

# 不提交仓库代码量统计相关文件
.VSCodeCounter