<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include("./component/header.html"); %>
</head>
<body>
    <%- include("./component/navbar.html"); %>
    <main class="main">
        <h1><%= title %></h1>
        <div id="container">

        </div>
    </main>
    <%- include("./component/footer.html"); %>

    <!-- 获取参数 -->
    <script src="../assets/javascripts/getParams.js"></script>
    <script>
        var requestParams = getParams();
        function getUserStatus() {
            getRequest("/user/getUserStatus", { })
                .then(function (responseData) {
                    var axiosData = responseData.data;
                    var status = axiosData.status;
                    var data = axiosData.data;
                    if (status === "success") {
                        console.log(data)
                        if(data) {

                        } else {
                            window.location.href = "/login";
                        }
                    } else {
                        alert(`出错啦！${data.errMsg} (错误码: ${data.errCode}) `);
                    }
                });
        }
        getUserStatus();
    </script>
</body>
</html>