<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include("./component/header.html"); %>
</head>
<body>
    <%- include("./component/navbar.html"); %>
    <div class="main" align="center">
        <h1>书栖网</h1>
        <p>一个完全免费无门槛的计算机类电子书下载网站</p>

        <h2>随便唠唠</h2>
        <p>本网站是“计算机类电子书”仓库的前身，我们希望能够搭建一个电子书共享平台，供大家在学习中方便搜索以及下载。</p>
        <p>目前市面上的网站下载有很多门槛，要么是收费，要么是要关注公众号等等。我们要做的就是一个没有任何门槛的下载平台。</p>
        <p style="font-weight: bold; color: crimson;">我们承诺，这个网站从出生到消失，永不投放广告，永远不会让您付费或者关注公众号来进行下载，甚至也不投放收款二维码，永远是这样。</p>
        <hr>
        <p>目前已收集到100GB左右的与计算机相关的书籍（主要是PDF）。但由于人手不足，尽管我们花费了大量时间对其进行归类、筛选、去重等工作，但仅仅将其中的四分之一整理到仓库中供大家下载。所以我们暂时停止了手动整理的重复工作，着手来开发这个网站，以减轻后期我们的重复劳动，也为了能给大家提供更好更方便的下载服务。
        </p>
        <p style="font-size: small; color: #c8c8c8;">
            【备注】在我们建设好网站前，对于希望能够打包下载全部电子书的类似需求我们无暇兼顾，因为文件太多，我们需要花很多精力，甚至分成很多个渠道才能够将其分享出去不被和谐，所以还请大家多多谅解。</p>
        <hr>
        <p>目前，我们使用业余时间进行网站开发，所以这个过程很慢，也请您耐心等待。如果您与我们一样，希望为这个项目添砖加瓦，欢迎通过 <u>contact@only4.work</u>
            与我们取得联系。当然，话说在前面，我们没有能力支付相应酬劳，包括我们自己也是一样，做这个项目不为什么，纯粹的是为爱发电罢了。同时，如果您想加入我们，你需要拥有相应编码能力，以及一些空闲时间。</p>
        <p>如果你只是单纯的喜欢本项目，或者认同我们的做事风格等等，欢迎去GitHub仓库为我们点个Star，这对我们来说比金钱更能维持我们为爱发电的热情。</p>
        <hr>
        <p>也许你会问，为爱发电的话，高昂的运维费用怎么办？这个我没有办法给出肯定的回答，就像目前很多的开源项目作者一样，他们也被这个问题所困扰。但我可以肯定的告诉你，我们会尽一切力量来维持这个网站的运行，从服务器到下载地址，我们会尽量压缩成本。压缩成本意味着尽量使用免费或者低价的云服务，这同时意味着可能会让网站加载变慢甚至少数情况下加载不出来，我们会尽量在这二者之间找到一个平衡点。
        </p>
        <p>在网站的后续运营过程中，我们将主要使用网盘分享链接的形式进行分享，但由于网盘分享链接极其容易失效，所以部分情况下我们会为压缩包设置密码。若压缩包有密码，一律为：<u>bookshelf.plus</u>。</p>
        <p>但在网站的细节方面，我们绝对会将用户体验放在第一位，该有的通通都给安排上。</p>
        <hr>
        <p>最后，还是要说一下版权的问题。我们十分重视版权。我们所整理的电子书全部来自于互联网，其中部分来自于下载站、公众号等。如果其中包含您的作品，且您不希望我们将您的作品作为免费分享出来，请联系<span>contact@only4.work</span>并提供相应证明材料，我们核实后将会第一时间删除。同时，您在本网站上下载的所有电子书文件，仅供学习交流使用，不可二次传播，特别是不可设置扫码关注等门槛二次分享。
        </p>

        <h2>特别说明</h2>
        <p>本站电子书由“张小弟之家”整理，出于方便学习之目的，您从本站下载的电子书仅供学习交流使用，如需他用请联系原作者。<a href="https://gitee.com/only4/computer-related-books" target="_blank">查看同步更新Gitee仓库</a></p>
        <p>由于信息量较大，我们无法做到一一确认相关电子书的权属管理，如本站不慎侵犯了您的权利，请发送邮件至<b>contact@only4.work</b>，来信请注明相关链接以及您的相关证明材料，我们收到邮件后会第一时间与您取得联系并积极处理，多谢理解！</p>
    </div>
    <%- include("./component/footer.html"); %>
</body>
</html>