<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include("./component/header.html"); %>
    <style>
        .click2copy {
            cursor: pointer;
            user-select: all;

            transition: all 0.2s;
        }
        .click2copy:hover {
            background-color: grey;
            color: white;
            padding: 0 3px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <%- include("./component/navbar.html"); %>
    <main class="main">
        <h1><%= headText %></h1>
        <div id="container">
            <p>
                反馈功能正在开发中，在此期间，相关反馈请发送邮件至 <span class="click2copy">admin@only4.work</span> ，并在邮件主题前标注 <span class="click2copy">【书单网|反馈】</span>。
            </p>
        </div>
    </main>
    <%- include("./component/footer.html"); %>

    <!-- 点击复制及反馈样式 -->
    <script src="/assets/javascripts/cssUtils.js"></script>
    <script>
        // 点击复制
        $(".click2copy").click(function (e) {
            copyToClipboard($(this).text());
            showTip(e, "复制成功");
        });
    </script>
</body>
</html>