<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include("./component/header.html"); %>
</head>
<body>
    <%- include("./component/navbar.html"); %>
    <div class="main">
        <div class="siteTitle">
            <h1><%= site.short_title %></h1>
        </div>
        <%- include("./component/searchbox.html"); %>
        <div class="sloganBox">
            <p class="emphasize">
                一个完全免费无门槛的计算机类电子书下载网站
            </p>
        </div>
    </div>
    <%- include("./component/footer.html"); %>
    <script>
        $('#searchInput').focus();
    </script>
</body>
</html>