<p>
    查看后端项目配置是否配置正确
</p>
<p>
    请按 F12 查看详情
</p>
<script>
    postRequest('/system/status', { token: localStorageUtils.getToken() })
        .then(function (response) {
            var axiosData = response.data;
            var status = axiosData.status;
            var data = axiosData.data;

            if (status === "success") {
                console.log(data);
            } else {
                swal(`出错啦！${data.errMsg} (错误码: ${data.errCode})`);
            }
        }).catch(function (error) {
            console.log(error);
            swal("无法连接到服务器，请检查网络连接！");
        });
</script>