<p>
    <a href="<%= pageUrl %>../">返回上一级</a>
    &nbsp;
    <a href="<%= pageUrl %>../upload">上传文件</a><br><br>
    您现在在「文件管理 > 文件对象管理」，以下是系统所有文件对象信息
</p>
<script>
    list({ tableElementId: "book-table" });

    function list({ tableElementId }) {
        postRequest("/file/object/list", { token: localStorageUtils.getToken() })
            .then(function (responseData) {
                var axiosData = responseData.data;
                var status = axiosData.status;
                var data = axiosData.data;
                if (status === "success") {
                    // console.log(data);

                    // 数据进行转换
                    var renderData = [];
                    data.forEach(element => {
                        console.log(element);
                        renderData.push({
                            编号: `${element.id}`,
                            关联文件: `<span class="overflow-omit" style="margin: 0 auto;">
                                        ID: ${element.fileId}
                                        <a href="<%= pageUrl %>../detail?id=${element.fileId}">查看</a>
                                    </span>`,
                            修改日期: element.lastModified === 0 ? "未知" : `<span class="overflow-omit" style="font-size: 12px; line-height: 1.2em; display: block;"><nobr>
                                        ${new Date(element.lastModified).toISOString().replace(/T/, ' ').replace(/\..+/, '')}
                                    </nobr></span>`,
                            格式: `<span class="overflow-omit" style="font-size: 12px; line-height: 1.2em; display: block;"><nobr>
                                        ${element.fileType ? element.fileType : "未知"}
                                    </nobr></span>`,
                            密码: `<span class="overflow-omit" style="font-size: 12px; line-height: 1.2em; display: block;"><nobr>
                                        文件密码: ${element.filePwd}<br>
                                        提取码: ${element.fileShareCode}
                                    </nobr></span>`,
                            存储介质: `<span class="overflow-omit" style="font-size: 12px; line-height: 1.2em; display: block;"><nobr>
                                        ${element.storageMedium}
                                    </nobr></span>`,
                            状态: `${(element.uploadStatus ? element.uploadStatus : "<span style='color: grey; font-weight: bold;'>未知</span>")
                                .replace("SUCCESS", "<span style='color: green; font-weight: bold;'>成功</span>")
                                .replace("UPLOADING", "<span style='color: orange; font-weight: bold;'>正在上传</span>")
                                .replace("NOT_EXIST", "<span style='color: red; font-weight: bold;'>不存在</span>")}`,
                            管理: `<span span class="overflow-omit" style="margin: 0 auto;">
                                        <a href="javascript:refreshFileObjectStatus(${element.id});">刷新状态</a>
                                        <a href="<%= pageUrl %>../object-detail?id=${element.id}">修改(TODO)</a>
                                        <a href="javascript:deleteBook(${element.id});">删除(TODO)</a>
                                    </span > `,
                        })
                    });
                    if (renderData.length == 0) {
                        function htmlEncode(str) {
                            // refer: https://stackoverflow.com/questions/4183801/escape-html-chracters
                            var div = document.createElement('div');
                            var txt = document.createTextNode(str);
                            div.appendChild(txt);
                            return div.innerHTML;
                        }
                        renderTable({ data: `暂无文件`, tableId: tableElementId, renderTableHead: true });
                    } else {
                        renderTable({ data: renderData, tableId: tableElementId, renderTableHead: true });
                    }
                } else {
                    alert(`出错啦！${data.errMsg}(错误码: ${data.errCode}) `);
                }
            }).catch(function (error) {
                console.log(error);
                alert("无法连接到服务器，请检查网络连接！");
            });
    }

    function refreshFileObjectStatus(fileObjectId) {
        postRequest("/file/object/refreshFileObjectStatus", { token: localStorageUtils.getToken(), fileObjectId: fileObjectId })
            .then(function (responseData) {
                var axiosData = responseData.data;
                var status = axiosData.status;
                var data = axiosData.data;
                if (status === "success") {
                    console.log(data);
                    alert("刷新成功！");
                    list({ tableElementId: "book-table" });
                } else {
                    alert(`出错啦！${data.errMsg} (错误码: ${data.errCode}) `);
                }
            }).catch(function (error) {
                console.log(error);
                alert("无法连接到服务器，请检查网络连接！");
            });
    }
</script>