<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include("../component/header.html"); %>
    <%- include("../component/header-admin.html"); %>
</head>
<body>
    <%- include("../component/navbar.html"); %>
    <main class="main">
        <h1><%= title %></h1>
        <div id="container">
            <div>
                <%= typeof title !=='undefined' ? page : "出错啦"; %>
            </div>
        </div>
    </main>
    <%- include("../component/footer-admin.html"); %>
</body>
</html>