<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include("./component/header.html"); %>
    <style>
        .main {
            width: 92vw !important;
            max-width: initial !important;
        }

        #book-table {
            width: 100%;
            margin-top: 30px;
            line-height: 2.3em;
        }

        table, tr, th, td {
            border: 1px solid black;
        }

        tr {
            white-space: nowrap;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        tr a {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <%- include("./component/navbar.html"); %>
    <!-- 获取参数 -->
    <script src="/assets/javascripts/getParams.js"></script>
    <!-- 渲染表格 -->
    <script src="/assets/javascripts/renderTable.js"></script>
    <main class="main">
        <h1><%= title %></h1>
        <div id="container">
            <% if ( pageTemplate != "" ) { %>
                <!-- 引入对应页面渲染配置 -->
                <%- include(pageTemplate); %>
            <% } %>
            <table id="book-table"></table>
        </div>
    </main>
    <%- include("./component/footer.html"); %>
</body>
</html>